@import "prism-theme";

html {
  scroll-behavior: smooth;
}

input {
  -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-md;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.mdx-wrapper {
  img {
    animation-name: fadeIn;
    animation-duration: 1s;
    @apply border border-gray-200 my-5 rounded-md;
  }

  table {
    @apply w-full my-5 table-fixed;

    tr,
    th,
    td {
      @apply border border-gray-400 p-2;
    }
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  ul {
    @apply list-inside list-disc flex flex-col space-y-1;
  }

  li {
    p {
      @apply inline -ml-2;
    }
  }

  blockquote {
    @apply p-4 italic border-l-4 bg-gray-100 border-cyan-700 my-5;
  }

  pre {
    @apply my-5;
  }

  code {
    @apply bg-gray-200 px-1;
  }
}

.ani__fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
