.menu-wrap {
  @apply flex flex-col;

  .__group {
    .__title {
      @apply font-semibold hover:text-cyan-700 flex items-center justify-between cursor-pointer text-base transition-all;

      &.--active {
        @apply text-cyan-700;
      }
    }

    .__icon-down {
      transform: rotate(0deg);
      transition: all 200ms;
    }

    .__box-child {
      @apply mt-2 max-h-0 transition-all duration-300 overflow-hidden flex flex-col space-y-1;

      .__item-child {
        @apply ml-5 hover:text-cyan-700 transition-all;

        &.--active {
          @apply text-cyan-700 font-semibold;
        }
      }

      .__item-child:last-child {
        @apply mb-2;
      }
    }

    &.--expand {
      .__icon-down {
        transform: rotate(180deg);
      }

      .__box-child {
        @apply max-h-96;
      }
    }
  }
}
